<%- css('css/food.css') %>
<div class="footer">
	<div class="Copyright">
		©<%= new Date().getFullYear() %> By <%- theme.author %>. 主题：<a
			style="text-decoration: none;display: contents; color: #898F9F;"
			href="https://github.com/qiaobug/hexo-theme-quiet">Quiet</a>
	</div>
	<div class="contact">
		<% theme.bottomIcon.forEach(item =>{%>
		<a href="<%= item.toUrl %>">
			<img src="<%= item.iconLink %>" alt="Quiet主题">
		</a>
		<% }) %>
	</div>
</div>
<%- partial('_widget/gotop') %>